<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex *ngIf="comentarioSeleccionado">
        <p>Comentarios acerca del Producto</p>
        <mat-card>
            <mat-card-content>
                <label>Estrellas: </label>
                <a>{{comentarioSeleccionado.estrellas}}</a>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <label>Comentario: </label>
                <a>{{comentarioSeleccionado.comentario}}</a>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <label>Autor: </label>
                <a>{{comentarioSeleccionado.autor}}</a>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <label>Fecha: </label>
                <a>{{comentarioSeleccionado.fecha}}</a>
            </mat-card-content>
        </mat-card>
    </div>
</div>