<mat-toolbar color="primary">Login<span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<p>{{ usuario | json }}</p>
<p>{{ formularioLogin.form.invalid }}</p>

<form novalidate #formularioLogin="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <p>
            <mat-form-field>
                <input matInput #nombre="ngModel" placeholder="Nombre de Usuario" type="text"
                    [(ngModel)]="usuario.nombre" name="nombre" required>
            </mat-form-field>
            <mat-hint>
                <span [hidden]="nombre.pristine">
                    <span [hidden]="!nombre.errors?.['required']">El nombre es obligatorio</span>
                </span>
            </mat-hint>

            <mat-form-field>
                <input matInput #password="ngModel" placeholder="Password" type="password"
                    [(ngModel)]="usuario.password" name="password" required>
            </mat-form-field>
            <mat-hint>
                <span [hidden]="password.pristine">
                    <span [hidden]="!password.errors?.['required']">El password es obligatorio</span>
                </span>
            </mat-hint>
            <br>
            <mat-checkbox [(ngModel)]="usuario.nocerrar" name="nocerrar">No cerrar sesión</mat-checkbox>
        </p>
    </mat-dialog-content>

    <mat-dialog-actions>
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button type="submit" [disabled]="formularioLogin.form.invalid" mat-button
            class="background-primary text-floral-white">Login</button>
    </mat-dialog-actions>

</form>;